/* External Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

/* Body */

body {
    background-color:#f6f6fa;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
  width:80%;
  margin-top:15px;
  margin-right:auto;
  margin-left:auto;
  background-color:#fff;
  border-radius:15px 15px 0 0;
  border:1px solid #f0f0f0;
}

.title {
  padding:5px;
  color:#333;
  background-color:#eee;
  border-radius:5px;
  font-size:2vh;
  letter-spacing:1px;
}

/* Banner */

.banner {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #f0f0f0;
}

.banner h1 {
    color:white;
    text-shadow: 2px 2px 0px #000000;
    font-size:4.2vh;
}

.banner .btn {
    background-color:#333;
    color:white;
    border-color:#000;
}

.banner p {
    font-weight:bold;
    font-size:1.8vh;
}

/* Columns */


.body .row {
    max-width:100%;
    margin-top:20px;
}
.body .col-md-12 {
    background-color:white;
    padding:10px;
}

.body .col-md-12 h3 {
    margin-top:5px;
    text-align:center;
    font-weight:700;
    padding:5px;
    color:#333;
    background-color:#eee;
    border-radius:5px;
    font-size:2vh;
    letter-spacing:1px;
}

/* Enrichment Services */
.enrichment h1 {
  font-weight:900;
  color:#2c2c2c;
  letter-spacing:1px;
  text-shadow:2px 2px #838383;
}

footer {
  border-top:1px solid #f0f0f0;
}

footer a {
  color:#333;
}

.photos img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: grayscale(20%);
}